// ==========================================
// HOME PAGE
// ==========================================

// FLOOR PLANS SECTION

#home-page .floor-plans-section {
  background: $color-body;
  height: auto;
  margin: 100px 0 125px 0;
  width: 100%;

  @include e(description) {
    margin: 0 20%;
    text-align: center;
    width: 60%;

    h2 {
      color: $black;
      margin-bottom: 20px;
    }
  }
}

#home-page .floor-plans-slider--desktop {
  display: block;

  @include media-query(small) {
    display: none;
  }

  @include media-query(medium) {
    display: none;
  }
}

#home-page .floor-plans-slider--tablet {
  display: none;

  @include media-query(medium) {
    display: block;
  }
}

#home-page .floor-plans-slider--mobile {
  display: none;

  @include media-query(small) {
    display: block;
  }
}

#home-page .floor-plans-section .slick-dots {
  bottom: -50px;
}

#home-page .floor-plans-section .slick-dots li button {
  margin: 0;
  padding: 0;
}

#home-page .floor-plans-section .slick-dots li button:before {
  border: 2px solid $mustard;
  border-radius: 100%;
  box-sizing: border-box;
  color: $color-body;
  height: 12.5px;
  opacity: 1;
  width: 12.5px;
}

#home-page .floor-plans-section .slick-dots li.slick-active button:before {
    background: $color-dots-floor-plans;
    color: $color-dots-floor-plans;
}

#home-page .floor-plans-section .slick-prev, #home-page .floor-plans-section .slick-next {
    top: 45%;
}

#home-page .floor-plans-section .slick-prev:before, #home-page .floor-plans-section .slick-next:before {
    color: $color-arrows-floor-plans;
    font-size: 3.5rem;
}

#home-page .floor-plans-div {
  height: auto;
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-top: 75px;

  @include media-query(small) {
    padding: 50px 10%;
    width: 80%;
  }
}

#home-page .floor-plans-post {
  border: $border-gray;
  height: 300px;
  margin: 0 20px;
  position: relative;
}

#home-page .floor-plans-post__title-container {
  height: auto;
  margin: 15px 5% 0 5%;
  width: 90%;
}

#home-page .floor-plans-post__title, #home-page .floor-plans-post__subtitle {
  display: block;
}

#home-page .floor-plans-post__title {
  font-size: 1.3rem;
}

#home-page .floor-plans-post__subtitle {
  font-size: 0.85rem;
  padding-top: 7.5px;
}

#home-page .floor-plans-post__image-container {
  @include flexbox();
  // Height is being calculated in home.js
  width: 100%;
}

#home-page .floor-plans-post__image {
  height: auto;
  margin: 0px 7.5%;
  max-height: 150px;
  object-fit: contain;
  width: 85%;
}

#home-page .floor-plans-post__details-container {
  background: $color-floor-plans-post-details;
  bottom: 0;
  height: 50px;
  position: absolute;
  width: 100%;
}

#home-page .floor-plans-post__dimensions, #home-page .floor-plans-post__price {
  @include vertical-align();
  color: $white;
  text-transform: uppercase;
}

#home-page .floor-plans-post__dimensions {
  float: left;
  margin-left: 5%;
}

#home-page .floor-plans-post__price {
  float: right;
  margin-right: 5%;
}
