// ==========================================
// HOME PAGE
// ==========================================

// FLOOR PLANS SECTION

#home-page .floor-plans-section {
  background: $color-body;
  height: auto;
  margin: 100px 0 150px 0;
  width: 100%;

  @include media-query(small) {
    margin: 50px 0;
  }

  @include e(description) {
    margin: 0 20%;
    text-align: center;
    width: 60%;

    h2 {
      color: $black;
      margin-bottom: 20px;
    }
  }
}

#home-page .floor-plans-slider--desktop {
  display: block;

  @include media-query(small) {
    display: none;
  }

  @include media-query(medium) {
    display: none;
  }
}

#home-page .floor-plans-slider--tablet {
  display: none;

  @include media-query(medium) {
    display: block;
  }
}

#home-page .floor-plans-slider--mobile {
  display: none;

  @include media-query(small) {
    display: block;
  }
}

#home-page .floor-plans-section .slick-dots {
  bottom: -50px;
}

#home-page .floor-plans-section .slick-dots li button {
  margin: 0;
  padding: 0;
}

#home-page .floor-plans-section .slick-dots li button:before {
  border: $border-mustard;
  border-radius: 100%;
  box-sizing: border-box;
  color: $color-body;
  height: 15px;
  opacity: 1;
  width: 15px;
}

#home-page .floor-plans-section .slick-dots li.slick-active button:before {
    background: $color-dots-floor-plans;
    color: $color-dots-floor-plans;
}

#home-page .floor-plans-section .slick-prev, #home-page .floor-plans-section .slick-next {
    top: 45%;
}

#home-page .floor-plans-section .slick-prev:before, #home-page .floor-plans-section .slick-next:before {
    color: $color-arrows-floor-plans;
    font-size: 3.5rem;

    @include media-query(small) {
      font-size: 2.75rem;
    }
}

#home-page .floor-plans-div {
  height: auto;
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-top: 75px;

  @include media-query(small) {
    padding: 50px 10%;
    width: 80%;
  }
}

#home-page .floor-plans-post {
  border: $border-gray;
  height: 300px;
  margin: 0 20px;
  position: relative;

  &:focus {
    outline: none;
  }
}

#home-page .floor-plans-post__title-container {
  height: auto;
  margin: 15px 5% 0 5%;
  width: 90%;
}

#home-page .floor-plans-post__title, #home-page .floor-plans-post__subtitle {
  display: block;
}

#home-page .floor-plans-post__title {
  font-size: 1.3rem;
}

#home-page .floor-plans-post__subtitle {
  font-size: 0.85rem;
  padding-top: 7.5px;
}

#home-page .floor-plans-post__image-container {
  @include flexbox();
  // Height is being calculated in home.js
  width: 100%;
}

#home-page .floor-plans-post__image {
  height: auto;
  margin: 0px 7.5%;
  max-height: 150px;
  object-fit: contain;
  width: 85%;
}

#home-page .floor-plans-post__details-container {
  background: $color-floor-plans-post-details;
  bottom: 0;
  height: 45px;
  position: absolute;
  width: 100%;
}

#home-page .floor-plans-post__dimensions, #home-page .floor-plans-post__price {
  @include vertical-align();
  color: $white;
  text-transform: uppercase;
}

#home-page .floor-plans-post__dimensions {
  float: left;
  margin-left: 5%;
}

#home-page .floor-plans-post__price {
  float: right;
  margin-right: 5%;
}


// CONTACT SECTION

#home-page .contact-section {
  height: 450px;
  width: 100%;

  @include media-query(small) {
    height: auto;
  }

  @include e(square) {
    display: inline-block;
    float: left;
    height: 100%;

    @include media-query(small) {
      display: block;
      height: 50vh;
    }

    @include m(left) {
      @extend .contact-section__square;
      background: $color-contact-section-square-left;
      width: 35%;

      @include media-query(small) {
        width: 100%;
      }
    }

    @include m(middle) {
      @extend .contact-section__square;
      @include bg-image($bg-image: "contact-section-image");
      width: 30%;

      @include media-query(small) {
        width: 100%;
      }
    }

    @include m(right) {
      @extend .contact-section__square;
      background: $color-contact-section-square-right;
      width: 35%;

      @include media-query(small) {
        width: 100%;
      }
    }
  }
}

#home-page .contact-section .headline-container {
  margin: 0 10%;
  width: 80%;
}

#home-page .contact-form {
  @include vertical-align();
  height: auto;
  margin: 0 10%;
  width: 80%;
}

#home-page .contact-form input {
  background: $color-contact-section-square-right;
  border: $border-white;
  box-sizing: border-box;
  color: $color-contact-form-input;
  font-family: $font-stack-primary;
  height: 45px;
  margin: 7.5px 0;
  padding: 0 7.5px;
  text-transform: uppercase;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $color-contact-form-input;
  }

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color-contact-form-input;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: $color-contact-form-input;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: $color-contact-form-input;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: $color-contact-form-input;
  }

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
 }
}

#home-page .contact-form #first-name, #home-page .contact-form #last-name {
  width: 48%;

  @include media-query(small) {
    width: 47.5%;
  }
}

#home-page .contact-section #first-name {
  float: left;
  margin-right: 7.5px;
}

#home-page .contact-section #last-name {
  float: right;
  margin-left: 7.5px;
}

#home-page .contact-form #email, #home-page .contact-form #source, #home-page .contact-form #submit {
  width: 100%;
}

#home-page .contact-form #source {
  background-image: url("../images/arrow-form.svg");
  background-position: 97.5% 50%;
  background-repeat: no-repeat;
  background-size: 15px 25px;
}

#home-page .contact-form #submit {
  background: $color-contact-form-input;
  color: $color-body-text;
  font-family: $font-stack-primary;
  text-transform: uppercase;

  &:hover {
    background: $color-contact-form-input-hover;
    border: $border-midnight;
    color: $color-contact-form-input;
  }
}
