// ==========================================
// TYPE
// ==========================================

@font-face {
  font-family: "Avenir Next";
  src: url("fonts/avenir_next.eot"); /* IE9 Compat Modes */
  src: url("fonts/avenir_next.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("fonts/avenir_next.woff2") format("woff2"), /* Super Modern Browsers */
       url("fonts/avenir_next.woff") format("woff"), /* Pretty Modern Browsers */
       url("fonts/avenir_next.ttf")  format("truetype"), /* Safari, Android, iOS */
       url("fonts/avenir_next.svg#svgFontName") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Emily Mattison";
  src: url("fonts/Emily_Mattison.eot"); /* IE9 Compat Modes */
  src: url("fonts/Emily_Mattison.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("fonts/Emily_Mattison.woff2") format("woff2"), /* Super Modern Browsers */
       url("fonts/Emily_Mattison.woff") format("woff"), /* Pretty Modern Browsers */
       url("fonts/Emily_Mattison.ttf")  format("truetype"), /* Safari, Android, iOS */
       url("fonts/Emily_Mattison.svg#svgFontName") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Milkshake";
  src: url("fonts/Milkshake.eot"); /* IE9 Compat Modes */
  src: url("fonts/Milkshake.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("fonts/Milkshake.woff2") format("woff2"), /* Super Modern Browsers */
       url("fonts/Milkshake.woff") format("woff"), /* Pretty Modern Browsers */
       url("fonts/Milkshake.ttf")  format("truetype"), /* Safari, Android, iOS */
       url("fonts/Milkshake.svg#svgFontName") format("svg"); /* Legacy iOS */
}
