// ==========================================
// VARIABLES
// ==========================================

// COLORS

// Color Descriptions
$white: #fff;
$black: #0b0b0b;
$mustard: #e9a92f;
$midnight: #292937;

// Color Functions
$color-headline: $white;
$color-body-text: $black;
$color-selection: lighten($mustard, 30%);

$color-header: $white;
$color-nav-item: $black;
$color-nav-item-hover: $mustard;


// FONTS

// Font Stacks
$font-stack-primary: 'Montserrat', sans-serif;
$font-stack-secondary: 'Lato', sans-serif;

// Font Weights
$font-weight-thin: 100;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Font Sizes
$base-font-size: 16px;

// Letter Spacing

// Line Height
$line-height-body-text: 2rem;


// BORDERS

$border-size: 1.25px;

$border-black: 1.25px solid $black;
$border-mustard: 1.25px solid $mustard;


// MARGINS AND PADDING
$padding-nav-item: 0 20px;


// HEIGHTS AND WIDTHS


// PATHS

$path-image: "../images";


// BREAKPOINTS

$breakpoint-small: 0px;
$breakpoint-medium: 767px;
$breakpoint-large: 1025px;
