// ==========================================
// VARIABLES
// ==========================================

// COLORS

// Color Descriptions
$white: #fff;
$black: #0b0b0b;
$sunset-orange: #fa4a4c;
$lighter-sunset-orange: lighten($sunset-orange, 5%);
$bright-turquoise: #1fd4f9;
$dark-bright-turquoise: darken($bright-turquoise, 5%);
$gray: #a6a6a6;
$lighter-gray: lighten($gray, 15%);
$light-gray: lighten($gray, 30%);
$royal-blue: #3d01c2;

// Project Color Descriptions
$ballad-blue: #0e5580;
$ballad-magenta: #ab0061;

$bookshelf-red: #c54f44;
$bookshelf-green: #5e9082;

$chronicle-turquoise: #008b83;
$chronicle-purple: #a07679;

$coffee-app-red: #cc4d4b;
$coffee-app-blue: #98bace;
$coffee-app-gold: #f1a75e;

$dog-adoption-turquoise: #28be9b;
$dog-adoption-orange: #f98a5f;

$dogs-booklet-magenta: #b31e57;
$dogs-booklet-green: #c3c230;

$dogtooth-cover-art-light-pink: #d7a6bc;
$dogtooth-cover-art-dark-pink: #be7d9a;

$jamaica-stickers-aqua: #81d0d9;
$jamaica-stickers-coral: #ef506d;

$stillwater-shirt-purple: #917989;
$stillwater-shirt-red: #bc5441;

$toptix-blue: #304ca1;
$toptix-green: #c6dd77;


// Color Functions
$color-body: $white;
$color-body-accent: $light-gray;
$color-border: $light-gray;
$color-box-shadow: rgba($black, 0.15);
$color-text-shadow: rgba($black, 0.4);

$color-headline: $black;
$color-headline-gray: $lighter-gray;
$color-body-text: $black;
$color-selection: rgba($bright-turquoise, 0.25);
$color-date: $gray;

$color-icon: $gray;
$color-icon-hover: $lighter-sunset-orange;

$color-button: $sunset-orange;
$color-button-hover: $lighter-sunset-orange;
$color-button-click: $lighter-sunset-orange;

$color-input: $gray;
$color-input-label: $gray;
$color-input-active: $lighter-sunset-orange;
$color-input-label-active: $lighter-sunset-orange;
$color-input-label-valid: $gray;
$color-input-label-active-background: linear-gradient(to bottom, $light-gray 50%, $color-body 50%);

$color-link-default: $bright-turquoise;
$color-link-visited: $royal-blue;

$color-arrows: $black;
$color-arrows-instagram: $sunset-orange;

$color-nav: $black;
$color-nav-hover: $lighter-sunset-orange;

$color-header: $white;

$color-footer: $white;
$color-footer-border: $light-gray;
$color-footer-copyright: $gray;

$color-hero-background: $black;
$color-page-title: $white;
$color-blog-page-date: $white;

$color-border-about-overview: $gray;

$color-project-ballad-primary: $ballad-blue;
$color-project-ballad-secondary: $ballad-magenta;

$color-project-bookshelf-primary: $bookshelf-red;
$color-project-bookshelf-secondary: $bookshelf-green;

$color-project-chronicle-primary: $chronicle-turquoise;
$color-project-chronicle-secondary: $chronicle-purple;

$color-project-coffee-app-primary: $coffee-app-red;
$color-project-coffee-app-secondary: $coffee-app-gold;

$color-project-dog-adoption-primary: $dog-adoption-turquoise;
$color-project-dog-adoption-secondary: $dog-adoption-orange;

$color-project-dogs-booklet-primary: $dogs-booklet-magenta;
$color-project-dogs-booklet-secondary: $dogs-booklet-green;

$color-project-dogtooth-cover-art-primary: $dogtooth-cover-art-light-pink;
$color-project-dogtooth-cover-art-secondary: $dogtooth-cover-art-dark-pink;

$color-project-jamaica-stickers-primary: $jamaica-stickers-aqua;
$color-project-jamaica-stickers-secondary: $jamaica-stickers-coral;

$color-project-stillwater-shirt-primary: $stillwater-shirt-purple;
$color-project-stillwater-shirt-secondary: $stillwater-shirt-red;

$color-project-toptix-primary: $toptix-blue;
$color-project-toptix-secondary: $toptix-green;

$color-blog-section: $white;
$color-blog-div: $light-gray;
$color-blog-column: $white;
$color-figure: $white;
$color-blog-post-title: $bright-turquoise;
$color-blog-post: $white;
$color-blog-post-hover: $light-gray;
$color-blog-post-active: $light-gray;
$color-blog-post-title-active: $bright-turquoise;


// FONTS

// Font Stacks
$font-stack-primary: "Avenir Next", Helvetica, sans-serif;
$font-stack-accent: "Milkshake", "Avenir Next", Helvetica, sans-serif;

// Font Weights
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 900;

// Font Sizes
$base-font-size: 16px;

$font-size-page-title: 1.5 * 2rem;
$font-size-page-title-accent: ($font-size-page-title / 1.6);
$font-size-blog-page-date: 1.5 * 0.85rem;
$font-size-page-title-mobile: 2rem;
$font-size-page-title-accent-mobile: ($font-size-page-title-mobile / 1.6);
$font-size-blog-page-date-mobile: 0.85rem;

// Letter Spacing
$letter-spacing-headline: 0.15rem;
$letter-spacing-headline-small: 0.1rem;

// Line Height
$line-height-body-text: 2rem;


// BORDERS

$border-size: 1.5px;

$border-section: $border-size solid $color-border;
$border-divider: $border-size solid $color-border;
$border-button: $border-size solid $color-button;
$border-button-hover: $border-size solid $color-button-hover;
$border-button-ballad: $border-size solid $color-project-ballad-secondary;
$border-button-ballad-hover: $border-size solid $color-project-ballad-secondary;
$border-button-bookshelf: $border-size solid $color-project-bookshelf-secondary;
$border-button-bookshelf-hover: $border-size solid $color-project-bookshelf-secondary;
$border-button-dog-adoption: $border-size solid $color-project-dog-adoption-secondary;
$border-button-dog-adoption-hover: $border-size solid $color-project-dog-adoption-secondary;
$border-input: $border-size solid $color-input;
$border-input-active: $border-size solid $color-input-active;

$border-footer: $border-size solid $color-footer-border;

$border-directory-nav: $border-size solid $color-border;
$border-project-hero: $border-size solid $white;
$border-project-overview: $border-size solid $color-border;
$border-project-desktop-mockups: $border-size solid $color-border;


// MARGINS AND PADDING

$margin-page-horizontal: 5%;
$margin-page-mobile-horizontal: 10%;
$margin-page-tablet-horizontal: 10%;
$margin-page-blog-mobile-horizontal: 5%;
$margin-page-blog-tablet-horizontal: 5%;
$margin-section: 125px 10%;
$margin-section-vertical: 125px;
$margin-section-horizontal: 10%;
$margin-div: 50px;
$margin-body-text: 25px;
$margin-nav: 5%;
$margin-headline-mobile-horizontal: 5%;
$margin-headline-tablet-horizontal: 5%;
$margin-image-mobile-horizontal: 5%;
$margin-image-tablet-horizontal: 5%;
$margin-input: 50px;
$margin-directory-mobile-horizontal: 5%;

$padding-section: 75px;
$padding-div: 50px;
$padding-button: 15px 20px;
$padding-nav-item: 0 25px;
$padding-input: 10px;
$padding-input-label: 0 3px;
$padding-footer-row: 16px;
$padding-footer-social-media-item: 0 10px;
$padding-blog-social-media-item: 0 35px;
$padding-page-title: 1.5 * 18.75px;
$padding-page-title-mobile: 18.75px;


// HEIGHTS AND WIDTHS

$height-content-offset: -100px;

$width-page: 90%;
$width-page-mobile: 80%;
$width-page-tablet: 80%;
$width-page-blog: 80%;
$width-page-blog-mobile: 90%;
$width-page-blog-tablet: 90%;
$width-section: 80%;
$width-directory-mobile: 90%;
$width-headline-mobile: 90%;
$width-headline-tablet: 90%;
$width-image-mobile: 90%;
$width-image-tablet: 90%;
$width-directory-nav-container: 350px;
$width-directory-nav-container-tablet: 175px;


// PATHS

$path-image: "../images";


// BREAKPOINTS

$breakpoint-small: 0px;
$breakpoint-medium: 767px;
$breakpoint-large: 1025px;
