// ==========================================
// FOOTER
// ==========================================

footer {
  @include flexbox($justify: space-between);
  background: $color-footer;
  height: 57.5px;
  position: relative;
  width: 100%;
}

.copyright {
  font-size: 0.85rem;
  margin-left: 2.5%;
}

.credits {
  font-size: 0.85rem;
  margin-right: -webkit-calc(1.25% + 83px);
  margin-right:   -moz-calc(1.25% + 83px);
  margin-right:     calc(1.25% + 83px);

  span {
    font-size: 0.85rem;
    font-weight: $font-weight-bold;
  }
}

.pentagon {
  background: $color-footer-pentagon;
  bottom: 0;
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%, 0 30%);
  height: 83px;
  position: absolute;
  right: 0;
  -webkit-clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%, 0 30%);
  width: 83px;
  z-index: 10;
}

footer .arrows-container {
  height: 100%;
  position: relative;
  width: 100%;
}


footer .arrows-container:hover .arrow--top {
  bottom: 27px;
}

footer .arrows-container:hover .arrow--bottom {
  bottom: 9.5px;
}

footer .arrow {
  @include m(top) {
    @extend .arrow;
    bottom: 25px;
    right: -12.5px;
  }

  @include m(bottom) {
    @extend .arrow;
    bottom: 7.5px;
    right: -12.5px;
  }
}
