// ==========================================
// HEADER
// ==========================================

header {
  @include box-shadow($b: 7px);
  background: $color-header;
  height: 87.5px;
  max-width: 100vw;
  position: fixed;
  width: 100%;
  z-index: 10;
}
