// ==========================================
// NAV
// ==========================================

.nav-container {
  @include flexbox($direction: row, $justify: space-between);
  height: 100%;
  margin: 0 2.5%;
  width: 95%;
}

.nav {
  @include flexbox($direction: row, $justify: space-between);
  height: auto;
  width: auto;

  @include m(left) {
    @extend .nav;
  }

  @include m(right) {
    @extend .nav;

    @include media-query (medium) {
      display: none;
    }

    @include media-query (small) {
      display: none;
    }
  }

  @include e(item) {
    @extend h5;
    color: $color-nav-item;
    display: inline-block;
    font-family: $font-stack-secondary;
    list-style-type: none;
    padding: $padding-nav-item;

    &:hover {
      color: $color-nav-item-hover;
    }

    @include media-query(medium) {
      display: none;
    }

    @include media-query(small) {
      display: none;
    }

    @include m(first) {
      @extend .nav__item;
      @include flexbox($direction: row, $justify: space-between);
      padding-left: 0px;

      &:hover > .hamburger-menu-container {
        border: 1.25px solid $mustard;
      }

      &:hover .hamburger-menu__row {
        border-bottom: 1.25px solid $mustard;
        height: 8px;

        @include m(top) {
          margin-top: -8px;
        }
      }

      @include media-query(medium) {
        display: flex;
      }

      @include media-query(small) {
        display: flex;
      }
    }

    @include m(last) {
      @extend .nav__item;
      padding-right: 0px;
    }
  }
}

.logo {
  height: 43.75px;
  object-fit: contain;
}
